/* ===== BACKGROUND ===== */
body.bg-gym {
    margin: 0;
    height: 100vh;
    background: url("/images/gym.jpg") no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
}

/* ===== OVERLAY ===== */
.bg-overlay {
    min-height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.5)
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== LEFT TEXT ===== */
.left h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.85);
}

.left span {
    color: #000805;
}

.left p {
    color: rgba(255,255,255,0.6);
    font-size: 16px;
}

/* ===== LOGIN CARD ===== */
.login-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    border-radius: 20px;

    padding: 28px;
    width: 340px;

    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);

    color: white;
    overflow: hidden;
}

/* TITLE */
.login-card h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}

/* ===== INPUTS ===== */
.login-card input {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    color: white;

    outline: none;
    transition: 0.3s;
}

.login-card input::placeholder {
    color: rgba(255,255,255,0.6);
}

/* FOCUS EFFECT */
.login-card input:focus {
    border: 1px solid #060a08;
    box-shadow: 0 0 10px rgba(7, 8, 8, 0.4);
    background: rgba(255,255,255,0.15);
}

/* ===== BUTTON ===== */
.login-card button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;

    background: linear-gradient(135deg, #001109, #030303);
    color: rgb(245, 244, 244);

    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.3s;
}

.login-card button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(1, 2, 2, 0.4);
}

/* ===== LINKS ===== */
.links {
    margin-top: 15px;
    font-size: 12px;
    color: rgba(255,255,255,0.6);
}

.links span {
    cursor: pointer;
    transition: 0.2s;
}

.links span:hover {
    color: #010202;
}

/* ===== OPTIONAL ANIMATION ===== */
body.bg-gym {
    animation: zoomBg 25s ease-in-out infinite alternate;
}

@keyframes zoomBg {
    from {
        background-size: 100%;
    }
    to {
        background-size: 110%;
    }
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255,255,255,0.6);
}

.toggle-password:hover {
    color: #080808;
}